fastapi
uvicorn
python-dotenv

openai

pydantic

psycopg2-binary

pymupdf
pillow
pytesseract

python-multipart

langchain
tiktoken

numpy
pandas

google-generativeai


pdfplumber
pymupdf
python-docx
openpyxl
pandas

pillow

aiofiles

tiktoken
aiohttp
typing


httpx